In [3]:
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format
pd.set_option('display.width', 75)
pd.set_option('display.max_columns', 5)

# importar data
temperaturas = pd.read_csv('https://raw.githubusercontent.com/skielosky/FISC-0760-Topicos-Especiales-II-2021/main/data/temperature.csv',
    names=['estacion_id','anyo','mes','temp_prom','latitud',
      'longitud','elevacion','estacion','pais_id','pais'],
    skiprows=1,
    parse_dates=[['mes','anyo']],
    low_memory=False)

In [4]:
type(temperaturas)

pandas.core.frame.DataFrame

In [5]:
temperaturas.head()

    mes_anyo  estacion_id  ...  pais_id           pais
0 2000-04-01  USS0010K01S  ...       US  United States
1 1940-05-01  CI000085406  ...       CI          Chile
2 2013-12-01  USC00036376  ...       US  United States
3 1963-02-01  ASN00024002  ...       AS      Australia
4 2001-11-01  ASN00028007  ...       AS      Australia

[5 rows x 9 columns]

In [6]:
temperaturas.dtypes

mes_anyo       datetime64[ns]
estacion_id            object
temp_prom             float64
latitud               float64
longitud              float64
elevacion             float64
estacion               object
pais_id                object
pais                   object
dtype: object

In [7]:
temperaturas.shape

(100000, 9)

In [8]:
temperaturas.rename(columns={'mes_anyo':'fecha'}, inplace=True)
temperaturas.dtypes

fecha          datetime64[ns]
estacion_id            object
temp_prom             float64
latitud               float64
longitud              float64
elevacion             float64
estacion               object
pais_id                object
pais                   object
dtype: object

In [10]:
temperaturas.temp_prom.describe()

count   85,554.00
mean        10.92
std         11.52
min        -70.70
25%          3.46
50%         12.22
75%         19.57
max         39.95
Name: temp_prom, dtype: float64

In [11]:
temperaturas.isnull().sum()

fecha              0
estacion_id        0
temp_prom      14446
latitud            0
longitud           0
elevacion          0
estacion           0
pais_id            0
pais               5
dtype: int64

In [12]:
# remover filas con missing values
temperaturas.dropna(subset=['temp_prom'], inplace=True)
temperaturas.shape

(85554, 9)